<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Page</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>{{name}}</h1>


    <p>Things about me that are awesome but not necessarily true</p>

    <footer>
      <p>Copyright {{year}} </p>
    </footer>
  </body>
</html>