<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog Posts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <ul>

    {{#each this}}
    {{#each title}}
      <li> {{this}} </li>
    {{/each}} 
    
      
    
    {{/each}}
    </ul>
  </body>
</html>